{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listado de Compras</title>
    <link rel="stylesheet" href="{% static 'base/css/recibo.css' %}">
    <style type="text/css">
        @page {
             width: 58mm; 
            size: auto;   
            margin: 0mm;
            }
    </style>
</head>
<body onload="window.print();window.close()" class="receipt">
    <div class="col-md-1 col-sm-1 col-xs-1 col-xl-1">
        <center>
            <b class="text-center">Tienda UDEMY DEBSCONSULTORES</b><br> 
            <small>Direccion</small><br>
            <small>FACTURA No. {{enc.factura}}</small><br>
        </center>
        <small>
            <br>
            <b>Factura No.:</b>&nbsp;&nbsp;{{enc.id}}&nbsp;&nbsp;
            <b>Fecha Fact:</b>&nbsp;&nbsp;{{enc.fecha}}&nbsp;&nbsp; <br>
            <b>Cliente:</b>&nbsp;&nbsp;{{enc.cliente.id}}&nbsp;&nbsp;- {{enc.cliente}}<br>
            <br><br>
        </small>
        <table class="table table-responsive dt-responsive nowrap">
            <thead>
                <th>Cant</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Sub Total</th>
                <th>Dcto.</th>
                <th>Total</th>
            </thead>
            <tbody>
                {% for obj in detalle %}
                <tr>
                    <td>{{obj.cantidad}}</td>
                    <td>{{obj.producto.descripcion}}</td>
                    <td>{{obj.precio}}</td>
                    <td>{{obj.sub_total}}</td>
                    <td>{{obj.descuento}}</td>
                    <td>{{obj.total}}</td>
                </tr>
                <tr>
                    <td colspan="5">{{obj.producto}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col-xs-1"></div>
        <div class="col-xs-11">
            <div class="pull-right">
            <table class="table-responsive dt-responsive nowrap">
                <thead>
                    <th colspan=2>Totales</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Sub Total:</td> <td align='right'>{{enc.sub_total}}</td>
                    </tr>
                    <tr>
                        <td>Iva:</td> <td align='right'>{{enc.descuento}}</td>
                    </tr>
                    <tr>
                        <td>Total:</td> <td align='right'><b>{{enc.total}}</b></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        
        {% if enc.tipo_pago == 'CR' and enc.cuotas.all %}
        <br><br>
        <table class="table-responsive dt-responsive nowrap">
            <thead>
                <th colspan="4">CUOTAS A COBRAR</th>
            </thead>
            <tbody>
                <tr>
                    <td>Cliente:</td> <td colspan="3">{{ enc.cliente }}</td>
                </tr>
                <tr>
                    <td>Factura:</td> <td colspan="3">{{ enc.id }}</td>
                </tr>
                <tr>
                    <td>Fecha:</td> <td colspan="3">{{ enc.fecha|date:"d/m/Y" }}</td>
                </tr>
                <tr>
                    <td>Moneda:</td> <td colspan="3">Guaraní</td> {# Asumiendo que la moneda es fija o viene del modelo #}
                </tr>
                <tr>
                    <td>TIPO_PAGO:</td> <td colspan="3">Crédito</td>
                </tr>
                <tr>
                    <td>TIPO_VENCIMIENTO:</td> <td colspan="3">{% if enc.tipo_vencimiento == 'REG' %}Vencimiento Regular{% else %}Vencimiento Irregular{% endif %}</td>
                </tr>
                <tr>
                    <td>Cantidad de Cuotas:</td> <td colspan="3">{{ enc.cantidad_cuotas }}</td>
                </tr>
                {% if enc.tipo_vencimiento == 'IRR' %}
                <tr>
                    <td>Días Irregulares:</td> <td colspan="3">{{ enc.dias_vencimiento_irregular }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <br>
        <table class="table-responsive dt-responsive nowrap">
            <thead>
                <th>Cuota</th>
                <th>Importe</th>
                <th>Vence</th>
                <th>Cobrado</th>
            </thead>
            <tbody>
                {% for cuota in enc.cuotas.all %}
                <tr>
                    <td>{{ cuota.numero_cuota }}/{{ enc.cantidad_cuotas }}</td>
                    <td>{{ cuota.importe|floatformat:0 }}</td>
                    <td>{{ cuota.fecha_vencimiento|date:"d/m/Y" }}</td>
                    <td>{% if cuota.cobrado %}Sí{% else %}0{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <div class="row">
        <small class="pie">
            <br><br>
            <center>
                Creada por:  {{enc.uc}} - Fecha:  {{enc.fc}}
                <br>
                <i>&copy; &reg; <b>Daniel Bojorge y/o DEBS Consultores</b><br> - debsconsultores@gmail.com</i> 
            </center>
        </small>
        </div>
    </div>
</body>
</html>