{% extends 'base/base.html' %}

{% block page_content %}
<form method="post" id="frmFacturas">
    {% csrf_token %}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <button type="submit" class="btn btn-danger">Guardar</button>
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <button type="submit" class="btn btn-danger">Guardar</button>
            {% if enc %}
                <a href="{% url 'fac:factura_imprimir_one' enc.id %}" class="btn btn-success" target="_factura">Imprimir</a>
            {% endif %}
            <a href="{% url 'fac:factura_list' %}" class="btn btn-info">Cancelar</a>
        </div>
        <a href="{% url 'fac:factura_list' %}" class="btn btn-info">Cancelar</a>
    </div>
    <div class="card-body">
        <div class="content">
            <div class="row">
                <div class="col-lg-6 form-group">
                    <div class="content">
                        <div class="row ">
                            <div class="col-lg-1">No.:</div>
                            <div class="col-lg-4">
                                <input type="text" name="enc_id" id="enc_id" readonly class="form-control" value="{% if enc %}{{ enc.id }}{% endif %}">
                            </div>
                            <div class="col-lg-2">
                                Cliente:
                            </div>
                            <div class="col-lg-5 form-group">
                                <select name="enc_cliente" id="enc_cliente" class="form-control">
                                    <option value="0">Seleccione Cliente</option>
                                    {% for item in clientes %}
                                        <option value="{{ item.id }}" {% if enc.cliente.id == item.id %}selected{% endif %}>{{ item.nombres }} {{ item.apellidos }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="#" class="btn btn-info btn-circle" id="btnEditCliente">
                                    <i class="far fa-user"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 form-group">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-3">Tipo de Pago:</div>
                            <div class="col-lg-9 form-group">
                                <select name="tipo_pago" id="tipo_pago" class="form-control">
                                    <option value="CO" {% if tipo_pago_actual == 'CO' %}selected{% endif %}>Contado</option>
                                    <option value="CR" {% if tipo_pago_actual == 'CR' %}selected{% endif %}>Crédito</option>
                                </select>
                            </div>
                        </div>
                        <div class="row tipo-credito-fields">
                            <div class="col-lg-3">Tipo Vencimiento:</div>
                            <div class="col-lg-9 form-group">
                                <select name="tipo_vencimiento" id="tipo_vencimiento" class="form-control">
                                    <option value="">Seleccione</option>
                                    <option value="REG" {% if tipo_vencimiento_actual == 'REG' %}selected{% endif %}>Vencimiento Regular</option>
                                    <option value="IRR" {% if tipo_vencimiento_actual == 'IRR' %}selected{% endif %}>Vencimiento Irregular</option>
                                </select>
                            </div>
                        </div>
                        <div class="row tipo-credito-fields">
                            <div class="col-lg-3">Cantidad Cuotas:</div>
                            <div class="col-lg-9 form-group">
                                <input type="number" name="cantidad_cuotas" id="cantidad_cuotas" class="form-control" min="1" value="{{ cantidad_cuotas_actual|default:1 }}">
                            </div>
                        </div>
                        <div class="row irregular-fields">
                            <div class="col-lg-3">Días Irregulares:</div>
                            <div class="col-lg-9 form-group">
                                <input type="text" name="dias_vencimiento_irregular" id="dias_vencimiento_irregular" class="form-control" placeholder="ej: 30,45,60" value="{{ dias_vencimiento_irregular_actual|default:'' }}">
                                <small class="form-text text-muted">Separar los días por comas (ej: 30,45,60). Cada día debe ser mayor que el anterior.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-1">Código:</div>
                        <div class="col-lg-3">
                            <input type="text" name="codigo" id="codigo" class="form-control" {% if not enc %}disabled{% endif %}>
                        </div>
                        <div class="col-lg-3">Descripción:</div>
                        <div class="col-lg-5">
                            <input type="text" name="descripcion" id="descripcion" class="form-control" readonly {% if not enc %}disabled{% endif %}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1">Cantidad:</div>
                        <div class="col-lg-3">
                            <input type="number" name="cantidad" id="cantidad" class="form-control" min="1" value="1" {% if not enc %}disabled{% endif %}>
                        </div>
                        <div class="col-lg-1">Precio:</div>
                        <div class="col-lg-3">
                            <input type="number" name="precio" id="precio" class="form-control" readonly {% if not enc %}disabled{% endif %}>
                        </div>
                        <div class="col-lg-1">Descuento:</div>
                        <div class="col-lg-3">
                            <input type="number" name="descuento" id="descuento" class="form-control" min="0" value="0" {% if not enc %}disabled{% endif %}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="#" class="btn btn-primary" id="buscar_producto">
                                <i class="fa fa-search"></i> Buscar Producto
                            </a>
                            <a href="#" class="btn btn-success" id="add_producto" {% if not enc %}disabled{% endif %}>
                                <i class="fa fa-plus"></i> Agregar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered table-striped" id="tblDetalles">
                        <thead>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Sub Total</th>
                            <th>Descuento</th>
                            <th>Total</th>
                            <th>Acciones</th>
                        </thead>
                        <tbody>
                            {% if detalles %}
                                {% for det in detalles %}
                                    <tr>
                                        <td>{{ det.producto.descripcion }}</td>
                                        <td>{{ det.cantidad }}</td>
                                        <td>{{ det.precio }}</td>
                                        <td>{{ det.sub_total }}</td>
                                        <td>{{ det.descuento }}</td>
                                        <td>{{ det.total }}</td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-circle" onclick="return abrir_modal('{% url 'fac:factura_borrar_detalle' det.id %}')">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="7">No hay productos en esta factura.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-6">
                    <table class="table table-bordered">
                        <tr>
                            <th>Sub Total:</th>
                            <td class="text-right">{{ enc.sub_total|default:0 }}</td>
                        </tr>
                        <tr>
                            <th>Descuento:</th>
                            <td class="text-right">{{ enc.descuento|default:0 }}</td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            <td class="text-right"><b>{{ enc.total|default:0 }}</b></td>
                        </tr>
                    </table>
                </div>
            </div>

            {% if enc and enc.tipo_pago == 'CR' and enc.cuotas.all %}
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h5>Detalle de Cuotas</h5>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <th>Cuota</th>
                            <th>Importe</th>
                            <th>Vence</th>
                            <th>Cobrado</th>
                            <th>Fecha Cobro</th>
                        </thead>
                        <tbody>
                            {% for cuota in enc.cuotas.all %}
                            <tr>
                                <td>{{ cuota.numero_cuota }}/{{ enc.cantidad_cuotas }}</td>
                                <td>{{ cuota.importe }}</td>
                                <td>{{ cuota.fecha_vencimiento|date:"d/m/Y" }}</td>
                                <td>{% if cuota.cobrado %}<span class="badge badge-success">Sí</span>{% else %}<span class="badge badge-danger">No</span>{% endif %}</td>
                                <td>{% if cuota.fecha_cobro %}{{ cuota.fecha_cobro|date:"d/m/Y" }}{% else %}N/A{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>
</form>
{% endblock %}

{% block js_page %}
<script>
    $(function () {
        // Función para mostrar/ocultar campos condicionales
        function toggleCreditFields() {
            if ($("#tipo_pago").val() === "CR") {
                $(".tipo-credito-fields").show();
                toggleIrregularFields(); // Re-evaluar campos irregulares
            } else {
                $(".tipo-credito-fields").hide();
                $(".irregular-fields").hide(); // Ocultar también los irregulares
            }
        }

        function toggleIrregularFields() {
            if ($("#tipo_vencimiento").val() === "IRR" && $("#tipo_pago").val() === "CR") {
                $(".irregular-fields").show();
            } else {
                $(".irregular-fields").hide();
            }
        }

        // Eventos de cambio
        $("#tipo_pago").change(function () {
            toggleCreditFields();
        });

        $("#tipo_vencimiento").change(function () {
            toggleIrregularFields();
        });

        // Inicializar al cargar la página (para ediciones)
        toggleCreditFields();

        // Código existente para productos y clientes
        $("#codigo").keypress(function (e) {
            if (e.which == 13) {
                e.preventDefault();
                var codigo = $(this).val();
                if (codigo.length === 0) {
                    mensaje("Debe de introducir el código del producto");
                    return false;
                }
                buscar_producto_por_codigo(codigo);
            }
        });

        $("#cantidad").change(function (e) {
            var existencia = parseFloat($("#existencia").val());
            var cantidad = parseFloat($(this).val());
            if (cantidad > existencia) {
                mensaje("No hay existencia suficiente");
                return false;
            }
        });

        $("#add_producto").click(function (e) {
            e.preventDefault();
            var enc_id = $("#enc_id").val();
            var codigo = $("#codigo").val();
            var cantidad = $("#cantidad").val();
            var precio = $("#precio").val();
            var descuento = $("#descuento").val();

            if (enc_id === null || enc_id === undefined || enc_id == "") {
                mensaje("Guarde el encabezado de la factura primero.");
                return false;
            }

            if (codigo.length === 0) {
                mensaje("No ha seleccionado un producto.");
                return false;
            }
            if (parseFloat(cantidad) <= 0) {
                mensaje("Cantidad debe ser mayor a cero.");
                return false;
            }

            var token = '{{csrf_token}}';
            var data = {
                'enc_id': enc_id,
                'codigo': codigo,
                'cantidad': cantidad,
                'precio': precio,
                'descuento': descuento,
                'csrfmiddlewaretoken': token
            };

            $.ajax({
                type: "POST",
                url: "{% url 'fac:factura_add_detalle' %}", // Asegúrate de tener esta URL definida
                data: data,
                success: function (response) {
                    if (response === "OK") {
                        location.reload(true);
                    } else {
                        mensaje("Error al agregar detalle.");
                    }
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    console.log(textStatus, errorThrow);
                    mensaje(errorThrow, 'red');
                }
            });
        });

        $("#buscar_producto").click(function (e) {
            e.preventDefault();
            abrir_modal("{% url 'fac:factura_producto' %}");
        });

        $("#btnEditCliente").click(function(e){
            e.preventDefault();

            var idCliente = $("#enc_cliente").val();
            var url;
            const qs = "?t=fc";

            if(idCliente===null || idCliente===undefined || idCliente==0){
                url = "{% url 'fac:cliente_new' %}" + qs; // Usar el nombre de la URL correcto
            }else{
                url = "{% url 'fac:cliente_edit' 0 %}".replace(/0/, idCliente) + qs; // Reemplazar 0 con idCliente
            }
            abrir_modal(url);
        });

        $("#popup").on('hidden.bs.modal',function(){
            const a = $("#id").val();
            var url="{% url 'api:cliente_list' %}"; // Ajusta esta URL si no es la correcta para tu API
            $.ajax({
                type:"GET",
                url:url,
                success: function(data){
                    console.log(data);
                    $("#enc_cliente").find('option').remove();
                    $("#enc_cliente").append('<option value="0">Seleccione Cliente</option>');
                    for(var i=0;i<data.length;i++){
                        $("#enc_cliente").append(`<option value="${data[i].id}">${data[i].nombres} ${data[i].apellidos} </option>`);
                    }
                    if (a) {
                        $("#enc_cliente").val(a);
                    }
                },
                error: function(jqXHR, textStatus, errorThrow){
                    console.log(textStatus, errorThrow);
                }
            });
        });
    });

    function buscar_producto_por_codigo(codigo) {
        var url = `/inv/productos/buscar/${codigo}/`; // Asegúrate de tener esta URL definida en inv/urls.py
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                if (data.id) {
                    $("#codigo").val(data.codigo);
                    $("#descripcion").val(data.descripcion);
                    $("#precio").val(data.precio);
                    $("#existencia").val(data.existencia); // Asumiendo que tienes un campo de existencia oculto
                    $("#cantidad").focus();
                } else {
                    mensaje("Producto no encontrado.");
                    $("#codigo").val('');
                    $("#descripcion").val('');
                    $("#precio").val('');
                    $("#codigo").focus();
                }
            },
            error: function (jqXHR, textStatus, errorThrow) {
                console.log(textStatus, errorThrow);
                mensaje("Error al buscar producto por código.", 'red');
            }
        });
    }

</script>
{% endblock %}